[2018-09-10 07:40] JacquesSmuts opened #1 "Creating invitations work, but querying them does not"
I mutate an invitation like this:

	"query": "mutation AddMember($groupId: String!, $name: String!, $createInvite: Boolean!) {
                groupAddMember(groupId: $groupId, name: $name, createInvite: $createInvite) {
                 __typename    command    id    correlationId  }}",
                	"operationName": "AddMember",
                	"variables": {
		"groupId": "5b961d3299b5e30002

[2018-09-10 09:01] rolfwessels commented on #1
So I will try to explain. There are public ids and internal id for invitations. There are some technical reasons for this. The *internal id* that we use is only random(ISH) so I want to store them with this Id for lookup but I also want a *public ID* that is more random and will go to the customer.

With this in mind there are two ways to find the user invite after you made the call

## The longwa

[2018-09-10 09:15] rolfwessels commented on #1
I have to add that in hind sight I might have over engineerd this :-). I could have done everything on the public id.

I'm happy to simplyfi this but that might break IOS :-/

[2018-09-10 09:24] JacquesSmuts commented on #1
Switching to correlationId worked. Thank you.

[2018-09-10 09:24] #1 closed, assigned to nobody

[2018-09-10 09:29] JacquesSmuts opened #2 "Accepting Invite does not work"
I successfully get an invite as follows:

Then I accept the invitation like so:

Which results in an error:

Should I be using the publicId instead, and ignore the actual groupInviteId?

[2018-09-10 09:47] JacquesSmuts commented on #2
I used the publicId from the invitation deeplink and that works.

[2018-09-10 09:47] #2 closed, assigned to nobody

[2018-09-10 12:26] rolfwessels commented on #2
Cool 👍

[2018-09-10 12:27] rolfwessels commented on #2
I can change the input param to say publicInviteId ... to make it clearer?

[2018-09-11 08:29] jannietheron opened #3 "Incorrect OWE and OWING balances for group"
When changing a transaction amount, the amount I am owed and amount I am owing is not getting updated.

The balance with the group is correctly calculated.

[2018-09-11 08:58] rolfwessels commented on #3
what property are you using ?

[2018-09-11 12:12] ryanjohndias opened #4 "Possible incorrect 'name' when inviting an existing group member"
If this is not a bug, please consider it a request :)

When fetching a `UserInvite` via `userInviteByPublicId`, the `name` field contains the name of the invitee, instead of the group name. I'm creating the invite via `groupInviteExistingMember`

`UserInvite` doesn't have any other references to a group; We need the name of the group to display to the user in the invite acceptance UI

[2018-09-11 12:13] jannietheron commented on #3
group->member->summary> totalIAmOwed/totalOwe

[2018-09-11 12:17] ryanjohndias commented on #4
![use case](https://user-images.githubusercontent.com/6240969/45359612-555ecf00-b5cd-11e8-86b8-421f79abb0cb.png)

[2018-09-11 12:30] rolfwessels commented on #4
Makes sence. I will add it and let you know.

[2018-09-11 12:30] rolfwessels commented on #3
Cool found the issue will fix and let you know.

[2018-09-11 13:05] rolfwessels commented on #4
Ok I have added the follwing. @ryanjohndias  Will that work for you ?

[code]

It is not rolled out yet.. just asking

[2018-09-11 13:10] ryanjohndias commented on #4
Perfect - thanks 🙏

On Tue, 11 Sep 2018 at 15:05, Rolf Wessels <notifications@github.com> wrote:

[2018-09-11 13:18] JacquesSmuts opened #5 "When settling, memberToMemberBalances don't update"
I have this group:

	"data": {
		"group": {
			"__typename": "Group",
			"createDate": "2018-09-11T12:05:51.015+00:00",
			"id": "5b97af9e3157ef0002c8b1fd",
			"name": "jjjj",
			"updateDate": "2018-09-11T12:58:17.592+00:00",
			"summary": {
				"__typename": "GroupSummary",
				"totalSpent": {
					"__typename": "Amount",
					"cents": 17260,
					"currencyIso": "ZAR"
				},
				"totalEstimate":

[2018-09-12 07:03] rolfwessels commented on #5
Wow, that is hard to read. I cant look at it today but will get back to you after I figure out what you are trying to do.

[2018-09-12 07:54] rolfwessels commented on #3
fixed in released 0.0.2.49

[2018-09-12 07:54] #3 closed, assigned to nobody

[2018-09-12 07:54] rolfwessels commented on #4
fixed in released 0.0.2.49

[2018-09-12 07:54] #4 closed, assigned to nobody

[2018-09-12 08:28] JacquesSmuts commented on #5
Is there a better way to format the data for github issues? Github steals formatting away for some reason -_-

For now, Ctrl+F 3333 and look for the bolded parts and you'll get an idea. It looks from my side as if settlements don't work.

[2018-09-12 10:22] #5 closed, assigned to nobody

[2018-09-12 10:22] JacquesSmuts commented on #5
This issue was fixed by going over to the summary with memberbalances that are now accurately reflected in the group, from Jannie's issue.

[2018-09-12 14:37] jannietheron opened #6 "Card provider"
Need and indicator of the card type (VISA/Mastercard) etc

[2018-09-13 06:04] rolfwessels commented on #6
Done in release 0.0.2.56

[2018-09-13 06:04] #6 closed, assigned to nobody

[2018-09-20 15:09] JacquesSmuts opened #7 "If responsibleMemberID has ratio split of 0, overflow amount is incorrectly assigned to that member."
I do the mutation to split R100 between all members (except myself).

{"query":"mutation UpdateTransaction($transactionId: String!, $record: TransactionRecordCreateUpdate!) {  transactionRecordUpdate(transactionRecordId: $transactionId, transactionRecord: $record) {    __typename    id  }}","operationName":"UpdateTransaction","variables":{"transactionId":"5ba3b7364f67f300020ec90f","record":{"descr

[2018-09-20 16:48] rolfwessels commented on #7
Nice find, I will look into it tomorrow 👍

[2018-09-21 07:06] rolfwessels commented on #7
Fixed. Will update now

[2018-09-21 07:06] #7 closed, assigned to nobody

[2018-10-02 09:52] ryanjohndias opened #8 "Duplicate sortCodes on dev"
[code]

[2018-10-03 06:54] kinggs commented on #8
I have a theory. Will have to check with Rolf before we close the issue. But the two sets were created within milliseconds of each other. This makes me think it might be that the initial population was triggered in parallel.

I *think* it was triggered from /admin/api/ping

{"_id":"5badd99d151cc40002df980e","Cd":"2018-09-28T07:34:53.548Z","Ud":"2018-09-28T07:34:53.548Z","Description":"ABSA Bank","

[2018-10-03 07:35] kinggs commented on #8
The problem now is that we have both instances used in TransactionInAppSettlement. Will have to work out a tricky migration for this...

Leaving the queries here for future reference:

[code]

[2018-10-05 12:26] jannietheron opened #9 "Estimate totals wrong"
The capturing person seems to influence estimates negative/positive value

Attached are screenshots of iOS and Android with one estimate added on each side

* Note iOS is removing the "-" in the list

![screenshot_20181005-141403](https://user-images.githubusercontent.com/16534981/46534898-01809680-c8aa-11e8-92a9-66b0e939c8c1.jpg)
![img_0100](https://user-images.githubusercontent.com/16534981/4653

[2018-10-05 12:28] jannietheron commented on #9
We are displaying group.summary.totalEstimate.cents from the backend

[2018-10-09 06:16] rolfwessels commented on #8
Yes it looks like my migration script ran twice. Its very rudimentary and I did not add any locking. I can fix these but since they are only on dev I would rather spend time on improving the locking system around migrations.

[2018-10-09 06:19] rolfwessels commented on #9
Ok I will have a look. That does not make sense.

[2018-10-09 07:36] JacquesSmuts opened #10 "Bank Account Number only 12 chars in length"
The bank account number can be 7-16 chars in length, but the server only accepts 12 chars.

[2018-10-09 07:58] rolfwessels commented on #10
Found the issue will deploy later today.

[2018-10-09 11:29] rolfwessels commented on #10
Ok it's updated on dev. I have one or two more change to come then I will do release to prod.

[2018-10-09 11:29] #10 closed, assigned to nobody

[2018-10-10 11:15] ryanjohndias opened #11 "Group members not involved in transactions are excluded from the group's memberToMemberBalance"
The following query and result shows a group where not all members are included in the `memberToMemberBalance` list. This scenario occurs when you add a member to a group after a transaction has already occurred (thus, that user is not part of any transactions). This means that we cannot rely on the server to display the correct list of All squared" members.

Query
[code]

Results
[code]

[2018-10-10 11:44] rolfwessels commented on #8
Resolved the issue. Should not happen again.

[2018-10-10 11:44] #8 closed, assigned to nobody

[2018-10-10 11:45] rolfwessels commented on #9
Android passing possitive values in amount.

[2018-10-10 11:45] #9 closed, assigned to nobody

[2018-10-10 11:47] rolfwessels commented on #11
This is by design.

The member balance will only be for members who have ever had some interation.

[2018-10-11 04:47] ryanjohndias commented on #11
¯\\\_(ツ)_/¯

[2018-10-11 04:47] #11 closed, assigned to nobody

[2018-10-11 06:59] rolfwessels opened #12 "Add validation for estimates being -amount."

[2018-10-15 06:24] richardhartley101 opened #13 "Payments Extract process"
Often the pages suddenly go slow/look like they are hanging - for example the in app settlement page or main dashboard page (or breaks: "Failed to read transactionInAppSettlements from service.")
    Page load: Load the page with rows "unticked" - i.e. not ready for payment
    Please add one of those annoying "are you sure you want to pay alerts when you click pay"
    Download: Need ability to d

[2018-10-15 06:24] richardhartley101 opened #14 "Additional Columns for the payments extract"
HTML Link to the Payor user (e.g. https://admin.kin.business/user/5ba3a662a0687536b9256a49) Payor: Name
    Payor: Email (if possible)
    Payor: Card Name (if possible)
    Payor: last 4 digits (if possible)
    Number of cards previously used by the Payor (if possible)
    HTML Link to the Payee user (e.g. https://admin.kin.business/user/5ba3a662a0687536b9256a49) Payee: Name
    Payee: Email

[2018-10-15 08:10] JacquesSmuts opened #15 "Bank Failure returns validation error as a success"
I send an account number which is too long:

{"query":"mutation BankDetailsUpdate($uid: String!, $accountNumber: String!, $sortCodeId: String!, $code: String!) {  bankDetailsUpdate(id: $uid, accountNumber: $accountNumber, sortCodeId: $sortCodeId, code: $code, isDefault: true) {    __typename    id  }}","operationName":"BankDetailsUpdate","variables":{"uid":"5bc071880ff46f0002712c60","accountNumber

[2018-10-15 08:22] rolfwessels commented on #15
I was about to respond that, that is how GraphQl works but let me go and double check that.

[2018-10-15 09:51] rolfwessels commented on #13
* The slow bit we know about and we are working on improving the performance. (The errors should be fixed now, if you see them again please let me know.)

* Unchecked done

* As discussed  because they start off unticked we don't need the confirmation box anymore

* This can already be done, just un tick the 'Show Completed'

[2018-10-15 14:50] rolfwessels commented on #13
@richardhartley101 This is now on develop. Please let me know if it works as expected.

[2018-10-15 14:51] rolfwessels commented on #14
@richardhartley101 This is now on develop. Please let me know if it works as expected.

I was not able to add the following
* Number of cards previously used by the Payor (if possible)
* Number of times This Person with these bank details has been used

We will need to schedule a bit of time to add this as a feature. Probably best to add a fraud detection module to help deal with these.

[2018-10-17 10:40] richardhartley101 commented on #14
Hi,

Could you look at these ones
Missing: Payor: Card Name (if possible)
Still Full reference, should just be 10 digits: Payee Our Reference: to be last 10 digits of our reference (e.g. 00025fd044 )
Remove the name, just "Kin Payment": Their Reference: "Kin Payment" for now

[2018-10-17 12:48] rolfwessels commented on #13
Closing for now.

[2018-10-17 12:48] #13 closed, assigned to nobody

[2018-10-17 12:48] rolfwessels commented on #14
Done

[2018-10-17 12:48] #14 closed, assigned to nobody

[2018-10-19 13:48] JacquesSmuts opened #16 "Deleting a settlement results in inaccurate balances"
check group with id: 5bc9d6f6eac8140002e8572f

I added on paid transactions, then settled then I was all square.

Then I deleted the settlement and my balance was wrong.

[2018-10-22 06:31] rolfwessels commented on #16
Hmmm, that is not good :-)

[2018-10-22 06:50] rolfwessels commented on #16
I just wrote a test and it worked as expected. Can you try and reproduce it?

[2018-10-22 08:16] rolfwessels commented on #16
Found the issue. Duplicate calls to the remove function would double the remove statistics.

This is now resolved.

[2018-10-22 08:16] #16 closed, assigned to nobody

[2018-10-22 08:18] rolfwessels commented on #12
Added, will be in new release.

[2018-10-22 08:18] #12 closed, assigned to nobody

[2018-10-22 08:19] rolfwessels commented on #12
Added, will be in new release.

[2018-10-22 10:32] rolfwessels commented on #12
Done

[2018-10-25 12:25] JacquesSmuts opened #17 "User is able to invite himself to join group as second member"
We are working to prevent this client-side, but might be a good idea to only allow unique userIds in each group's member list server-side as well.

[2018-10-25 12:52] JacquesSmuts commented on #15
there was a minor change in how the null response was sent back, but Android has changed its handling of errors and you can close this one.

[2018-10-29 05:43] JacquesSmuts opened #18 "User is able to accept an invite that has already been accepted"
When an invitation is accepted, it does not expire and the server allows more than one acceptance of the same invite.

I would suggest that if an invitation is accepted, the server changes the expiration time to "now()" so that any future views of the invitation is rejected.

[2018-10-29 06:51] rolfwessels commented on #18
ok will have a look, thought this was in already.

[2018-10-29 06:52] rolfwessels commented on #15
Ok, looks like this is how graphql works.

[2018-10-29 06:52] #15 closed, assigned to nobody

[2018-10-29 07:25] ryanjohndias commented on #18
Could the invitation perhaps not simply tell us expired = true/false, and with a reason?

[2018-10-29 11:18] rolfwessels commented on #18
Yup I will add that. Though it will be an expired and reason for signup || add to group. Because we are still using it for both.

[2018-10-29 11:31] rolfwessels commented on #17
Sorry, just on this, if this happens at that stage should i mark the invite as expired ? and used al though it did not really use it ?

[2018-10-29 12:21] rolfwessels commented on #17
Resolved. The invite will expire.

[2018-10-29 12:21] #17 closed, assigned to nobody

[2018-10-29 12:25] rolfwessels commented on #18
So I checked the code. It does do a check for usage and wont allow the user to be added. But it does not throw an exeption. I have changed that. It will now throw basic exception.

Will add the expired reason and outcome to graphql and then deploy.

[2018-10-29 14:11] rolfwessels commented on #18
Added flag and simple message.
![image](https://user-images.githubusercontent.com/643179/47655228-3b854580-db95-11e8-927d-64f8614714ff.png)

[2018-10-29 14:11] #18 closed, assigned to nobody

[2018-11-01 07:23] ryanjohndias opened #19 "Group summary totalEstimate intermittently incorrect"
When querying a group, the `summary.totalEstimate.cents` is sometimes incorrect. See client console output of querying it a few times:

[code]

In a previous test with the same group, got a value of `-25000`

[2018-11-01 07:42] #19 closed, assigned to nobody

[2018-11-01 07:42] ryanjohndias commented on #19
Seems like the issue is on the client side.

[2018-11-01 08:21] a-bresler opened #20 "groupUpdateName() is setting purpose to null when renaming group"

[2018-11-01 08:29] rolfwessels commented on #20
Please only use groupUpdate. For renaming and for updating purpose

[2018-11-01 08:29] #20 closed, assigned to nobody

[2018-11-05 09:08] JacquesSmuts opened #21 "Balances don't reflect accurate amounts from edited transactions."
In group `5bdc496bc67f82000276afec`

it lists the memberToMember balances as:

But it should be

Because there are only two transactions.

As you can see in the transaction records below.

Initially, I split the values evenly, so it shows the R33.33 from those splits. But after editing, the values did not update accurately.

Transaction info below. Please let me know if you need further info.

{"d

[2018-11-05 14:50] JacquesSmuts opened #22 "Member can't leave group with settlements with a balance of zero."
I'm not entirely sure if this is intentional or not, but I'm putting it here for clarity:

In group `5bbde444c661f80002391bdf`

I made a transaction, then paid someone R50, deleted the transaction and he paid me R50 back. The end result is zero paid transactions and 2 settlements which cancel each other out. The server returns this:

So the question is, should a user be allowed to exit a group if

[2018-11-06 06:34] rolfwessels commented on #22
So, for this story it was slit up. Initially we said we can remove them when they have no activity. In the next story coming up we will be allowed to leave and kick members when their balance is zero

Think we wanted more time to ensure that leaving groups don't have other strange side effects.

[2018-11-06 06:34] #22 closed, assigned to nobody

[2018-11-06 06:49] rolfwessels commented on #21
This is the same issue as before.

![image](https://user-images.githubusercontent.com/643179/48047380-8825dd80-e1a0-11e8-9d9f-84ccaeda06ea.png)

There are duplicate remove requests. I have put a fix in for this but this was broken before that fix.

What this does high-light is that we probably required something that is able to recalculate all balances. Or even beter have a way to detect broken ba

[2018-11-06 11:10] JacquesSmuts opened #23 "Some groups don't delete after a success"
The group remove call was made:

Followed by a success response from the server:

But when the user queries his groups the group is still there.

[2018-11-06 11:11] JacquesSmuts commented on #23
That's the only group we've found that this happens with.

[2018-11-07 06:23] #21 closed, assigned to nobody

[2018-11-07 06:27] rolfwessels commented on #23
Wow that is strange. Will have a look.

[2018-11-07 06:41] rolfwessels commented on #23
Ok I found the issue. releasing fix to dev. Please test with that same group and close if it is resolved.

[2018-11-09 06:49] JacquesSmuts opened #24 "Some members show hasReceivingAccounts=false incorrectly"
On the development server in group `5bc70a6e42b5000002b67eba` there is a member `5bc70a7042b5000002b67ebb` with userid=`5bbb08d6a0687536b9a92dfc` which lists `hasReceivingAccount=false` when I do a query for the group.

But when that user does a "me" query, he gets this back, among others.

Please advise if you need more information

[2018-11-09 11:18] rolfwessels commented on #23
Assuming this is fixed.

[2018-11-09 11:18] #23 closed, assigned to nobody

[2018-11-09 11:58] JacquesSmuts commented on #23
Sorry, missed this thread.

Yes it's fixed now. 👍

[2018-11-09 11:59] JacquesSmuts commented on #24
After updating the bank account info it went to "true".

After our conversation I assume it was fixed and you can close this. :)

[2018-11-09 12:06] rolfwessels commented on #24
Ok issue found and fixed.

[2018-11-09 12:06] #24 closed, assigned to nobody

[2018-11-12 11:18] JacquesSmuts commented on #21
If this issue is not yet fixed, shouldn't we keep this ticket open until we have a working solution?

I have a "prevent duplicate API calls" ticket on my end, but until I get to that this issue will persist and I'd like to keep tickets open until we know it's no longer an issue.

Or do you prefer to have this issues list only as a list of things we reported and you looked into?

[2018-11-12 12:28] JacquesSmuts opened #25 "Balances don't reflect accurate amounts from edited transactions"
I created a group `5be970090a2e800002e88e7b` and in my logs there are no doubling of API calls and I did not remove any transactions.

I have a group with two members and one transaction.

Then I
- add a third member,
- create a second transaction,
- edit the transaction to change the amount
- edit the transaction to change the split+responsibleId

The balances do not reflect accurately and on my

[2018-11-13 13:44] rolfwessels commented on #25
Yup there is definitely something wrong with the calculations. I was able to reproduce in my tests. Will fix and let you know. Thanks for the find.

[2018-11-14 10:51] rolfwessels commented on #25
Fixed.

[2018-11-14 10:51] #25 closed, assigned to nobody

[2018-11-23 12:31] JacquesSmuts opened #26 "Still some differences between Android and iOS in Estimates:"

[2018-11-23 13:17] JacquesSmuts opened #27 "Estimate Transactions seems to save wrong responsibleMemberId sometimes?"
When an Android client updates an Estimate transaction which was created by an iOS client, this happens:

This returns this issue from the server:

And this is if the estimate was created on Android:

The problem here is that on my ui it shows the "paid by" as "not sure yet" because that member ID (**5bf7ed575f929200021eef6d**) cannot be found anywhere, except that we get it from the server as par

[2018-11-26 06:06] #26 closed, assigned to nobody

[2018-11-26 06:08] JacquesSmuts opened #28 "First invitation is recorded as "You re-invited""
When I add a member for the first time, the activity feed says:
"You added nuMember"

But then when I tap that member for the first time some time later to send them an invite, the activity feed says
"You re-invited nuMember"

[2018-11-26 06:09] JacquesSmuts commented on #28
The only time I get "You sent nuMember an invite" is if I add nuMember and do the invitation as part of the add-member flow.

In that case I do not get the "you added nuMember" message. I am guessing that part is by design.

[2018-11-26 06:24] rolfwessels commented on #27
Ok will have a look

[2018-11-26 06:37] rolfwessels commented on #27
`"responsibleMemberId":"5bbb0713a0687536b9a90e59"` is not correct because that is not a member Id on the group.

Or what am I missing.

`
5bbb48bc6130d500022ca7b9 Jacques Smuts
5bbb48c46a0d480002ae4d82 Jannie
5bbb48d46130d500022ca7ba Ryan
5bbc96dc48bd920002034062 android
5bbc97143dea730002fce8e8 chess
5bbdc3783bb0bc000237bf90 Frikkie
5bbefefee157e30002189200 Tester
5bc44160f51dec0002fcac26 new not

[2018-11-26 06:40] rolfwessels commented on #28
That is the design yes. Are you saying its wrong or does not make sense?

The one that I understand is strange is the "Added" then "Re-invited". I will see if I can keep track of that state to make it a bit clearer.

[2018-11-26 06:41] JacquesSmuts commented on #27
Yes. The responsibleMemberID is not correct, which is why it fails.

I get that ID from the server and keep it unchanged.

When I search through my logs for "5bbb0713a0687536b9a90e59" I see it only ever appears in the split of that transaction which I get from the server.

[2018-11-26 07:47] #28 closed, assigned to nobody

[2018-11-26 07:53] ryanjohndias commented on #27
Creating an estimate transaction with no responsible member. Sorry for the formatting:

[code]

[2018-11-26 08:29] rolfwessels commented on #28
Fixed, will now displaye invited and not re-invited if the member has never been invited.

[2018-11-26 09:32] JacquesSmuts commented on #27
Both iOS and Android had different issues with saving and handling certain states on estimate transactions.

We are sorting out those issues client-side and you can close this ticket.

One thing to note is that you may consider adding a validation check so that an estimate transaction cannot have a split, but that would likely break the iOS build as it currently stands.

[2018-11-27 07:11] #27 closed, assigned to JacquesSmuts

[2019-04-16 09:11] ryanjohndias opened #29 "UserInvites query includes expired invites and invites to groups already joined"
Assumption A: Accepting an invite via the `acceptGroupInvite` mutation will remove that invite from future `userInvites` calls.

Using the `userInvites` on dev:

1) The result includes invites which are to groups the user is already part of. Accepting the invite does not remove the invite from the invite list. Ideally these invites should not be in the list, but at least, it should be removed when

[2019-04-16 09:47] ryanjohndias commented on #29
Need to be using `userInvitesWaitingConfirmationQuery`

[2019-04-16 09:47] #29 closed, assigned to nobody

[2019-04-16 10:41] ryanjohndias opened #30 "Reminder push notification contains "nudge" text (dev server)"
I presume that the push notifications body text should be updated to reflect the new "reminder" wording. This is how it currently looks:

![IMG_B99DBE516378-1 (1)](https://user-images.githubusercontent.com/6240969/56203187-01293b00-6045-11e9-96f2-43bfb454e1a3.jpeg)

[2019-04-17 05:33] rolfwessels commented on #30
I wil confirm but you brought this to my attention before and I believe
Claire said it's correct as it is.

On Tue, Apr 16, 2019, 12:41 PM Ryan Dias <notifications@github.com> wrote:

[2019-06-18 10:22] rolfwessels commented on #30
This is correct as is.

[2019-06-18 10:22] #30 closed, assigned to nobody

[2019-07-11 12:53] a-bresler opened #31 "Duplicate member in balances list"
sequence of events that led to x2 Freeman in the list. Freeman invited alon+alonnew to kin and created expense -> signed in as alonnew -> accept invite -> see expense. (All as expected)

Then create group -> add Freeman to group from ‘friends on kin’ list -> add transaction to group -> in balances, now there are two freemans

![Screenshot_20190711_143930_com thekinapp dev](https://user-images.gith

[2019-07-11 13:59] rolfwessels commented on #31
Thanks, we have discussed this internally and it seems that its a bigger issue. Where invited / active users are becoming ghosts because we require users to accept invites. We are going to investigate having invites to groups for "on kin" users to skip the invite process.

Will let you know when and how it is resolved.

Thanks for posting the issue

[2019-07-18 10:52] ryanjohndias opened #32 "Ad-hoc group member has incorrect "hasReceivingAccount" status"
### Preconditions
1. Have a Friend on Kin ("user A") with bank details

### Steps to reproduce
1. Sign in with user B
2. Create a new ad hoc expense
3. Add user A to the expense
4. Make user A the payer
5. Once created, go to Settle
6. "Pay" user A, selecting Pay through Kin (card payment)
7. You're blocked, because you have to request bank details from user A

### Data:
[code]

[2019-07-18 10:53] rolfwessels commented on #31
Resolved. We now allow you to directly add friends to a new group without invite process

[2019-07-18 10:53] #31 closed, assigned to nobody

[2019-07-18 11:04] rolfwessels commented on #32
👍

[2019-07-18 11:46] rolfwessels commented on #32
@ryanjohndias  this should be resolved. Can you please confirm on your side.

[2019-07-18 13:20] ryanjohndias commented on #32
Working now, thanks 👍

[2019-07-18 13:20] #32 closed, assigned to ryanjohndias

[2019-07-18 18:57] jhavatar opened #33 "GroupType property on GroupReference please"
We need this since the [new share messages](https://trello.com/c/HWi9i9aX/559-share-messages-cleanup) are different depending on if group is adhoc or not.

New share is fine when in-group sharing since the `type` property exists on the group. BUT, when you have to share (e.g. nudge, pay) from the person balances screen we do not know the GroupType of the ConnectionGroupBalance's GroupReference.

[2019-07-18 19:08] ryanjohndias commented on #33
Watching

[2019-07-19 05:32] rolfwessels commented on #33
Group reference now has enum property `Type`

[2019-07-19 05:32] #33 closed, assigned to nobody

[2019-08-02 12:46] ryanjohndias opened #34 "Generated group links do not specify an Android fallback"
This is how iOS generates links:

[code]

Can you please make sure that the server includes the `.fallbackURL` properties when generating group links.

This may be the reason for https://dashboard.instabug.com/applications/kin-app/beta/bugs/200 if I'm not mistaken
I think the manual web construction method equivalent parameters are `afl` and `ifl`

[2019-08-04 13:38] rolfwessels commented on #34
Resolved

[2019-08-04 13:38] #34 closed, assigned to rolfwessels

[2019-08-19 07:12] JavonneM opened #35 "Duplicate group member id's"
Seems that group members being added using "friends of kin" use the connection Id as the group member id. So if you add a member, remove them and add them again you can have two members with the same group member id.
[code]

[2019-08-21 06:58] rolfwessels commented on #35
Should now be resolved. Could you please double check and close.

[2019-08-21 12:38] a-bresler opened #36 "GroupId/BatchId to Comment pusher event"
Could a groupId (or named batchId) be added to the pusher event.

[2019-08-21 14:55] a-bresler opened #37 "Leaving group with active member"
when I create a group, go into the group and add a FoK, and then leave the group. The group then stays on the group list. When I go into the group, I am no longer on the members list and I can no longer leave the group. Has something perhaps changed on the backend?

[2019-08-21 14:56] jacousteau commented on #37
WARN : GraphQl android 2.2.0.dev>requestUserId(5d5ced24e655c1c54810f225)>group: User [Id=5d5ced24e655c1c54810f225 Name=AloXXXX] tried to access group [Group: 5d5d512c9d16a900024eb441 johXXXX] but is not member.

WARN : GraphQl android 2.2.0.dev>requestUserId(5d5ced24e655c1c54810f225)>group: User [Id=5d5ced24e655c1c54810f225 Name=AloXXXX] tried to access group [Group: 5d5d512c9d16a900024eb441 johXX

[2019-08-22 06:46] rolfwessels commented on #35
Assumed fixed. Please re-open if it is not.

[2019-08-22 06:46] #35 closed, assigned to nobody

[2019-08-22 06:46] rolfwessels commented on #37
Found the issue. Releasing a fix to dev now.

[2019-08-22 07:15] rolfwessels commented on #37
@a-bresler  Please test and let me know if the issue persists. Also please close the issue if it was fixed.

[2019-08-22 07:44] rolfwessels commented on #36
We had a field for groupId on our standard pusher events. I now add the batchId into the group id if the comment type is transaction. Please test and close if it does what you expect.

[2019-08-22 07:44] #36 closed, assigned to a-bresler

[2019-08-22 08:01] a-bresler commented on #37
Thanks! Looks good on our side.

[2019-08-22 08:01] #37 closed, assigned to rolfwessels, a-bresler

[2019-08-22 13:41] JavonneM commented on #35
Will check this tomorrow.

[2019-08-27 09:08] JavonneM opened #38 "Comments Query end cursor not working as expected."
Let's say I make the comments query call and `hasNextPage = false` and I store the `endCursor` for subsequent use. If i then add a comment and use the stored `endCursor` in a subsequent call,  I get no data, the only thing that I can see that has changed is the count.

An example situation, The first call uses `first: 20` with `endCursor: null` but I only had 10 comments to begin with, so the firs

[2019-08-27 10:24] rolfwessels commented on #38
Could not replicate the issue.
Get my groups and transactions
[code]
Run the delta call and get empty item list
[code]

Create a comment
[code]
Run query again with after param and it works returns the result. If I update the after to the new endCursor then it has no results.

[code]

[2019-08-27 10:25] rolfwessels commented on #38
Closing

[2019-08-27 10:25] #38 closed, assigned to nobody

[2019-09-09 12:07] rolfwessels opened #39 "When to use which icon on the activity feed"
As I have it:

[code]

[2019-09-09 12:27] rolfwessels opened #40 "Adding property to help App determine icon to show for payments."
Taking the requirements in to account we are thinking of adding the following property to activity feed.

The property key is is `flow` and can be of the following types `[income,expense]`
Example to use.

`af.properties.flow == "income"`
or
`af.properties.flow == "expense"`

If a person was not involved we will not add the property.

[2019-09-09 12:39] rolfwessels commented on #40
When `af.property.transactionType` == `planned`:
 - Blue future icon
When `af.property.transactionType` == `paid`:
 - Expense icon
       - Red - af.properties.flow == "income"
       - Green - af.properties.flow == "expense"
       - Grey - af.properties.flow does not exist

When `af.property.transactionType` == `settle`:
 - Settle icon
      - Red - af.properties.flow == "income"
       - Green

[2019-09-10 09:54] ryanjohndias opened #41 "Default group image shown on activity feed before image upload happens"
![Screenshot 2019-09-10 at 11 48 15](https://user-images.githubusercontent.com/6240969/64603933-749b6280-d3c1-11e9-82c5-3705c9eee69c.png)

Not sure if this is a big enough deal to change anything

The events for group creation will show the default group image, since they would have been created before the image upload. If it is a problem, could we have the group images default to null image inste

[2019-09-10 12:51] ryanjohndias opened #42 "UserUpdated activity event contains group info"
Thus, the group image gets shown, due to the current image rules

Snippet of the activity item:
[code]

[2019-09-11 06:43] AndreHelpkin opened #43 "New FROM email address for Sign in emails"
Currently, our Sign In magic link emails come from no reply@thekinapp.com

With the change over to our nee kin.me domain, is it possible that we can send these from
 noreply@kin.me

![image](https://user-images.githubusercontent.com/55178469/64674004-f649c980-d46f-11e9-8668-c0c6db6f3189.png)

[2019-09-11 07:54] ryanjohndias opened #44 "Changing your user's name results in an activity item for each group you're part of"
![Screenshot 2019-09-11 at 09 52 56](https://user-images.githubusercontent.com/6240969/64678513-05357980-d47a-11e9-80c9-23924a53bf46.png)

[2019-09-11 08:01] rolfwessels commented on #41
Interesting, that is more a delta issue :-/ ehmm will talk to Claire about it

[2019-09-11 08:03] rolfwessels commented on #42
We will change this to not relate to a group 👍

[2019-09-11 08:03] rolfwessels commented on #43
Will have a look 👍

[2019-09-11 08:03] rolfwessels commented on #44
Yup this will change 👍 Will comment here when it is ready.

[2019-09-12 06:28] rolfwessels commented on #42
Should now be resolved. Please close when tested.

[2019-09-12 06:29] rolfwessels commented on #41
We need to discuss this. Can we please have a call @ryanjohndias  & @jh ?

[2019-09-12 06:29] rolfwessels commented on #44
Should now be resolved. Please close when tested.

[2019-09-12 06:30] #39 closed, assigned to nobody

[2019-09-12 06:30] #40 closed, assigned to nobody

[2019-09-12 06:39] ryanjohndias opened #45 "activityFeedMarkAsSeen does not mark all activities as seen"
Testing in Playground:

[code]

then

[code]

result (snippet):

[code]

Interestingly, the UI seems to indicate that `activityFeedMarkAsSeen` has only applied to activities that in a sense related to you (observe the bold vs unbold items):

![Screenshot 2019-09-12 at 08 38 54](https://user-images.githubusercontent.com/6240969/64759935-c6b2c400-d538-11e9-82c2-751e87cffca2.png)
![Screenshot 2019-09

[2019-09-12 06:49] ryanjohndias commented on #44
Still happening:

![Screenshot 2019-09-12 at 08 48 34](https://user-images.githubusercontent.com/6240969/64760496-2198eb00-d53a-11e9-9cfb-287766f3b991.png)

[2019-09-12 06:49] rolfwessels commented on #45
Found the issue. Releasing new version now.

[2019-09-12 07:04] ryanjohndias commented on #42
Still happening, as seen in screenshot of https://github.com/kin-business/kin.api.public/issues/44 (group image shown)

[2019-09-12 07:58] rolfwessels commented on #45
Resolved and deployed. Please test and close.

[2019-09-12 07:58] rolfwessels commented on #44
Should be there now

[2019-09-12 09:15] ryanjohndias commented on #44
Fixed, thanks

[2019-09-12 09:15] #44 closed, assigned to ryanjohndias

[2019-09-12 09:16] ryanjohndias commented on #42
Thanks

[2019-09-12 09:16] #42 closed, assigned to ryanjohndias

[2019-09-13 06:19] rolfwessels commented on #43
Resolved. Should now be from noreply@kin.me

[2019-09-13 06:19] #43 closed, assigned to nobody

[2019-09-20 08:58] #45 closed, assigned to ryanjohndias

[2019-10-17 07:11] JavonneM opened #46 "Can't create a new ghost in an adhoc group"
When creating a new ghost group member using the `groupAddMember` mutation in an adhoc group, the call fails with a duplicate friendId validation error:
`WARN : GraphQl ios 2.6.1.development>requestUserId(5da6bc04dc2113a2f658316b)>groupAddMember: Validation failed:
-- Members: Members cannot contain duplicate friend ids.`

Note the call only has the following parameters
name, groupId, email, phone

[2019-10-17 10:09] #41 closed, assigned to ryanjohndias

[2019-10-17 10:10] rolfwessels commented on #46
I found the issue. The fix is in a PR will let you know when it is released.

[2019-10-18 05:22] rolfwessels commented on #46
Sorry it took a bit longer to fix than expected. Had some knock on bugs. Should all be sorted in dev now.

[2019-10-18 05:22] #46 closed, assigned to rolfwessels

[2019-10-22 11:23] JavonneM opened #47 "Cannot create group with transaction responsible member null"
Using the `CreateGroupWithMembersAndTransaction` call I cannot set `responsibleMemberId` on the transaction to null. This is required when creating a future transaction and we are unsure of the payer.

[2019-10-22 12:09] ryanjohndias opened #48 "Add flow property to transactionInAppSettlementUpdated event"
Needed to display the correct image along with the activity on the feed

[2019-10-22 14:29] rolfwessels commented on #47
Found the issue. Its been resolved and put on dev.

[2019-10-22 14:29] #47 closed, assigned to rolfwessels

[2019-10-28 08:55] ryanjohndias opened #49 "Creating an in-group future transaction with no split fails"
Passing `null` as the split object

Transaction fails to sync, with an api validation error
[code]

[2019-10-28 10:53] rolfwessels opened #50 "Image upload not working on the docker apis."

[2019-10-28 12:32] rolfwessels commented on #49
@ryanjohndias  should be fixed.

Thanks

(Re-open if there are any more issues)

[2019-10-28 12:32] #49 closed, assigned to nobody

[2019-10-29 07:06] ryanjohndias commented on #49
Thanks @rolfwessels looks good

[2019-10-30 08:22] rolfwessels commented on #50
Should be fixed now.

[2019-10-30 08:22] #50 closed, assigned to rolfwessels

[2019-10-30 08:22] rolfwessels commented on #48
This should now be resolved.

[2019-10-30 08:22] #48 closed, assigned to nobody

[2019-11-13 09:31] ryanjohndias opened #51 "Suggestions: Improving sign-up error handling"
While testing a certain flow/bug, I came across the following scenario:

When signing up with an invite link to group:

1. If the invite ID that's passed along on the `signUpAuthenticatedUser` call doesn't exist or is broken, then we receive an error, and the user is blocked from continuing. The signup still succeeds on the backend
Suggestion a) Make this a silent fail - so that the user can still

[2019-11-25 09:00] rolfwessels commented on #51
We have had 6 instances of this happening in the last 3 months. Is it a caching issue. ? Why do we allow people to sign up again?

I can do suggestion B. will do it and let you know

[2019-12-02 14:24] jhavatar opened #52 "No member added when (successfully?) adding friend to group"
Adding friend with call:
```{"operationName":"AddMemberFromFriends","variables":{"groupId":"5de4fb6e2571cb00017ff329","friendId":"5dd7d1c25087d000011a2eba"},"query":"mutation AddMemberFromFriends($groupId: String!, $friendId: String!) {  groupAddMemberFromFriends(groupId: $groupId, friendId: $friendId) {    __typename    ...commandData  }}fragment commandData on Command {  __typename  id  command

[2019-12-03 10:12] ryanjohndias opened #53 "Group member and Connection status don't match up"
We're having the following issue: When adding and inviting a contact from the group context (calls GroupAddMember and then GroupInviteExistingMember ), the resulting connection's status remains .notInvited , where the group.member is .invited.

https://kin-money.slack.com/archives/CC1JM6PPB/p1575364934022400

[2019-12-05 10:20] rolfwessels commented on #53
Think we are going to leave it as is for now. Group invites and connection invites should be tracked separately.

[2019-12-05 10:20] #53 closed, assigned to nobody

[2019-12-05 10:21] rolfwessels opened #54 "Javonne: Suggests merging connection based on email address."
![image](https://user-images.githubusercontent.com/643179/70226486-9c4c5d80-1759-11ea-8339-560e9e2b498b.png)

[2019-12-05 14:23] rolfwessels commented on #52
Should be fixed. let me know if still not fixed.

[2019-12-05 14:23] #52 closed, assigned to rolfwessels

[2019-12-13 13:18] rolfwessels commented on #51
Found the root of the problem being - invites not generated.

Will monitor and open up again if this issue continues after this release.

[2019-12-13 13:18] #51 closed, assigned to nobody